*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a{
    text-decoration: none;
    color: black;
}
.sty{
    top: 0;
    height: 200px;
    width: 100%;
    background-color: white;
    box-shadow: 0px -7px 22px black;

}

/* top topber */
.top-topber{
    display: flex;
    position:static;
}
.ttlogo1{
    display: flex;
    width:79%; 
    padding: 10px 0px;
}

.ttlogo1 img{
    width: 3%;
    height: 62%;
    margin-left: 10px;
}
.ttlogo1 p{
    font-size: 28px;
    font-weight: 700;
    color: rgb(49, 42, 105);
} 
.ttlogo1 p span{
    color: rgb(76, 148, 207);
}
.ttlogo1 i{
    font-size: 30px;
    padding: 0px 10px;
    margin-top: 14px;
    margin-left: 23px;
    color: rgb(76, 148, 207);
}
.ttlogo1 i:hover{
   border-bottom: 2px solid rgb(76, 148, 207);
}



.ttlogo2{
    display: flex;
    width: 40%;
    text-align: right;
    padding:  10px 0px ;
}
.ttlogo2 i{
    font-size: 19px;
    border: 0.5px solid rgb(194, 190, 190);
    height: 74%;
    margin-right: 20px;
    padding: 10px 10px 10px 10px;
    border-radius: 9px;
}
 .ttlogo2 .arro{
    width: 76px;
    padding-right: 35px;
    padding-top: 12px;
}
.ttlogo2 button{
    font-weight: 700;
    padding: 7px;
    width: 33%;
    height: 76%;
    text-align: center;
    margin-right: 10px;
    border-radius: 9px;
    color: white;
    background: cornflowerblue;
    border: 1px solid transparent;
}
.ttlogo2 button i{
    border: none;
    padding: 0%;
}





 /* topber */
 .topber{
     border-top: 1px solid rgb(151, 147, 147);
    border-bottom: 1px solid rgb(151, 147, 147);
 }
.num-fir{
    display: flex;
    width: 100%;
    padding: 10px 0px;
    
}
.top1{
    width: 50%;
}
.top1 i{
    color: rgb(76, 148, 207);
}
.top2{
    width: 48%;
    text-align: right;
}
.top2 i{
    color: rgb(95, 92, 92);
}
.top2 i:hover{
    color: rgb(42, 143, 226);
}
.num-fir i{
    padding-left: 10px;
    font-size: 20px;
}

/* nav */
.navbar-brand {
    font-size: 40px;
}
.nav-item a{
    font-size: 20px;
}
.nav-link{
    margin-right: 10px;
}
.fi-logo{
    width: 50%;
}


/* hero */


.hero{
    background:url(./slite-1\ copy.png);
    opacity: 1990%;
    height: 600px;
    width: 100%;
    padding-top:236px ;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero h1{
    color: white;
    font-weight: bolder;
}
.hero img{
    width: 100%;
    
}
.hero p{
    margin-top: 30px;
}
.hero button{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 0;
    background: #428bca;
}
.hero button:hover{
    
    background: #1c5c93;
}


/* ............box.......... */

.box img{
    width: 100%;
    height: 600px;
}
.box-3 h1{
    
    text-align: center;
    color: #5F798F;

}

.box-3 p{
    font-style: italic;
    color: #5F798F;
    font-weight: 500;
}
.fing-1{
    float: left;

}
.fing-1 i{
    font-size: 30px;
    border: 2px solid rgba(85, 206, 236,0.2);
    padding: 25px;
    color: rgb(52, 52, 207);
    background: rgba(85, 206, 236,0.2);
    margin-right: 20px;
    border-radius: 10px;
    transition: 0.5s;
        
}
.fing-1 i:hover{
    color: rgb(255, 255, 255);
    background: blue; 
    transition-duration: 0.5s;
}
.fing-2{
    float: left;
}

.fing-2 h1{
    font-size: 20px;
}
.fing-2 p{
    font-size: 16px;
}
.box{
    height: 100%;
    background-color: rgb(250, 250, 250);
    padding: 41px;
    box-shadow: 0px 1px 17px 6px rgb(158 154 154);
    margin-top: 50px;
    border-radius: 8px;
}
.carda{
    margin-top: 70px ;
}
/* card */
.cardb{
    margin-bottom: 40px;
}
.card-row .col-4{
    padding: 10px;
    background-color: white;
}
.carda h2{
    color: #9ECCF4;
}
.car h2{
    color: #9ECCF4;
}
.card-row4a{
    border-bottom: 1px solid rgb(168, 158, 158);
}
.card-row4b{
    border-bottom: 1px solid rgb(168, 158, 158);
    border-left: 1px solid rgb(168, 158, 158);
    border-right: 1px solid rgb(168, 158, 158);
}
.card-row4c{
    border-bottom: 1px solid rgb(168, 158, 158);
}
.card-row4bb{
    border-left: 1px solid rgb(168, 158, 158);
    border-right: 1px solid rgb(168, 158, 158);
}


/* num */
.nannn{
    position: absolute;
    width: 100%;
    background: #EAEAEA;
    height: 305px;
    padding-top: 50px;
    margin: 10px 0px;
}
.ccc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerrr{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.containerrr .cardss{
    position: relative;
    width: 304px;
    height: 201px;
    background: rgb(255, 255, 255);
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    transition: 0.5s;
    box-shadow: 0px 0px 13px 0px rgb(2, 2, 2);
}
.containerrr .cardss .content{
    text-align: center;
}
.containerrr .cardss .content h2{
    font-size: 60px;
    font-weight: 700;
    color: blue;
    line-height: 0.7;
    margin-top: 30px;
}
.containerrr .cardss .content span{
    font-size: 30px;
    font-weight: 700;
    color: black;
}

/* into  */
.into{
    margin-top: 400px;
}
.into h1{
    margin-top: 50px;
    text-align: center;
    color: rgb(100, 97, 93);
    margin-bottom: 50px;
    font-weight: 500;
}
.title::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #428bca;
    bottom: 0;
    left: calc(50% - 25px);
}
.title{
    text-align: center;
}
.title i{
    font-size: 50px;
    color: rgb(90, 90, 228);
    margin-bottom: 25px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 30px;
    box-shadow: 0px 1px 17px 3px rgb(158 154 154);

}
.title h1{
    font-size: 30px;
    font-weight: 500;
}

/* gallary */
.gallary{
    padding: 11px 0px 74px 0px;
    background-color: rgb(234 234 234);
    height: 100%;
    width: 100%;
}
.gallary h1{
    margin-top: 50px;
    text-align: center;
    color: rgb(100, 97, 93);
    margin-bottom: 50px;
    font-weight: 500;
}
.gallary p{
    text-align: center;
}
.btna{
    text-align: center;
}
.btna button{
    margin: 0px 20px;
    padding: 8px 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.3s;
}
.btna :nth-child(1){
    background-color: blue;
    color: white;
}
.btna button:hover{
    background-color: blue;
    color: white;
}
.pot{
    margin-top: 30px;
}
.pot-1 img{
    width: 100%;
}


/* team */
.team {
    margin-bottom: 70px;
}
.team h1{
    margin-top: 50px;
    text-align: center;
    color: rgb(100, 97, 93);
    margin-bottom: 50px;
    font-weight: 500;
}

.team p{
    text-align: center;
}

.tmm-1{
    margin-left: 94px;
    
}
.tm-1{
    margin-right: 80px;
}
.tm-1 img{
    width: 100%;
    
}
.box2{
    width: 90%;
    height: 85px;
    background-color: rgb(0 0 0 / 60%);
    /* opacity: 46%; */
    margin-top: -46px;
    margin-left: 104px;
    border-radius: 8px;
}
.lakha-box{
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 100%;
    padding-top: 11px;
}
.lakha-box h4{
    font-size: 12px;
    margin: 0;
    padding: 0;

}
.lakha-box h5{
    margin: 0;
    padding: 0;
}
.lakha-box h3{
    font-size: 10px;
    font-style: italic;
    margin: 0;
    padding: 0;
}


.io{
    margin-top: 2px;
}
.io i{
    margin-left: 11px;
    font-size: 10px;
}
.tm-2{
    margin-right: 80px;
}
.tt1{
    margin-right: 81px;
}
.tt2{
    margin-right: 80px;
}
.tt3{
    margin-right: 79px;
}
.tt4{
    margin-right: 1px;
}








.cc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.container-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-1 .cards{
    position: relative;
    width: 300px;
    height: 400px;
    background: linear-gradient(#2196f3, #2196f3 30%, #1d3548 30%, #1d3548);
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.container-1 .cards .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 100000;
    transform-origin: top;
    border-radius: 20px;
    overflow: hidden;
}
.container-1 .cards:hover .imgBx{
    transform: translateY(30px) scale(0.5);
} 
.container-1 .cards .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.container-1 .cards .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;
}
.container-1 .cards:hover .content{
    transform: translateY(0);
}
.container .cards .content .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container-1 .cards .content .details h2{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;

}
.container-1 .cards .content .details h2 span{
    color: #03a9f4;
    font-size: 0.8rem;
    font-weight: 500;
}
.container-1 .cards .content .details .social_icon{
    position: relative;
    display: flex;
    margin-top: 5px;
}
.social_icon li{
    list-style: none;
    margin: 4px;
}
.social_icon li a{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #294d69;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none; 
    transition: 0.5s;
}
.social_icon li a:hover{
    transform: rotate(360deg);
    background: #03a9f4;
}



















/* list */
.lists{
    width: 100%;
    height: 100%;
    background-color: #F5F9FC;
    padding-bottom: 50px;
    padding-top: 50px;
}
.lists h1{
    margin-top: 50px;
    text-align: center;
    color: rgb(100, 97, 93);
    margin-bottom: 50px;
    font-weight: 500;
}
.lak{
    width: 50%;
}
.lak h2{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}

/* contact-area */
.ccc-1{
    margin-top: 30px;
    text-align: center;
    
}
.cc-1{
    border: 2px solid transparent;
    border-radius: 10px;
    margin-right: 35px;
}
.contact-area{
    padding-top: 20px;
}
.contact-area h1{
    text-align: center;
    color: rgb(100, 97, 93);
}
.cc-1 i{
    margin-top: 20px;
    font-size: 25px;
    color: blue;
    padding: 10px;
    border: 4px dotted blue;
    border-radius: 50%;

}
.ccc-1{
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
}
.cc-1{
    box-shadow:  3px 3px 20px  rgb(107, 102, 102);
}



/* form */


.form{
    padding: 30px 10px;
    text-align: center;
    margin-top: 50px;
    box-shadow:  3px 3px 20px  rgb(107, 102, 102);
    border: 2px solid transparent;
    border-radius: 8px;
}
.nam{
    padding-left: 11px ;
}

.nam-2{
    padding-left: 10px;
    width: 49%;
    height: 52px;
    float: left;
}
.nam-1{
    padding-left: 10px;
    width: 49%;
    height: 52px;
    float: right;
    margin-right: 10px;
}
.sub input{
    margin-top: 20px;
    width: 98.5%;
    height: 52px;
    padding-left: 10px;
}
.mess textarea{
    margin-top: 20px;
    width: 98.5%;
    padding-left: 10px;
}
.btnn-2{
    text-align: center;
}
.btnn-2 button{
    width: 180px;
    height: 44px;
    border: 1px solid transparent;
    margin-top: 30px;
    background-color: rgb(56 56 255);
    color: white;
    font-weight: 700;
    border-radius: 12px;
}

/* footer */

.footer{
    color: white;
    margin-top: 50px;
    padding-top: 50px;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
    background-color: #5C768D;
}
.footer h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer h2{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 30px;
}
.fpp-1{
    margin: 25px 0px;
}
.fpp-1 p span{
    font-weight: bolder;
}

.ficon i{
    background-color: #868d94;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.ficon i:hover{
    background-color: rgb(69, 150, 226);
}
.ff-2 i{
    color: rgb(131, 215, 236);
}
.ff-2 a{
    margin-left: 10px;
    color: white;
}
.fff-2 p{
    font-size: 20px;
}
.fbt input{
    height: 40px;
    width: 205px;
}
.fbt button{
    height: 40px;
    padding: 0px 10px;
    background-color: rgb(93, 162, 240);
    color: white;
    font-weight: bolder;
    border: 1px solid rgb(93, 162, 240);
}

/* last_footer */
.last_footer{
    padding: 30px 0px;
    text-align: center;
    background-color: #4b667e;
    color: white;
}
.last_footer span{
    color:#9eccf4;
}


















